* {
    box-sizing: border-box;
}

body {
    background: -webkit-linear-gradient(left, #6fe7ff, #318cd6);
}

.container-sm {
    width: 400px;
    height: fit-content;
    border: #1d3557 solid 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#displayNumber {
    padding: 30px 43px;
    border: #1d3557 solid 1px;
    font-size: 30px;
    background-color: white;
}

.col {
    padding: 20px;
    color: #161e54;
}

.btn-cltr {
    border: #1d3557 solid 1px;
    background-color: #457b9d;
}

.btn-cltr:hover {
    font-weight: bold;
}

.btn-cltr:active {
    opacity: 0.8;
}

.number {
    background-color: #a8dadc;
    color: #161e54;
}

#equal {
    background-color: #e63946;
}

.operator {
    color: white;
    font-weight: bold;
}

@media (max-width: 576px) {
    .container-sm {
        width: 85%;
    }
}